<nav>
  <span>Blog List</span>
</nav>
<div class="posts">
  <div>
    <div class="card" *ngFor="let post of posts$ | async">
      <div class="card-header">
        <div class="card-title">{{ post.title.rendered }}</div>
        <div class="card-sub-title">{{ post.date_gmt | date }}</div>
      </div>
      <img [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url">
      <div class="card-content" [innerHTML]="post.excerpt.rendered"></div>
      <div class="card-actions" align="start">
        <a class="btn" [href]="post.link">View</a>
      </div>
    </div>
  </div>
</div>